@import './reset.scss';
@import './reset.scss';
.fl{
      float: left;
}
.fr{
      float: right;
}
.chat-panel{
      width: 800px;
      height: 600px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -400px;
      margin-top: -300px; 
      border: 1px solid #eee;
      box-shadow: 0 0 6px rgba(0,0,0,.6);
      &.header{
            width: 100%;
            height: 100px;
            line-height: 100px;
            padding: 10px;
            background: #eee;
            img{
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
            }
      }
      &.container{
            padding: 10px;
            overflow-y: auto;
            height: calc(100% - 100px - 150px); 
      }
      &.footer{
            height: 150px;
            padding: 10px;
            border-top: 1px solid #ddd; 
      }
}